# Secrets
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.env
venv/
.venv/

# SQLite DB (données locales — ne pas versionner)
backend/data.db

# Frontend build
frontend/dist/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.suo
*.user
